* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
  color: #6c757d;
}

.tinggi {
  height: 100vh;
  display: flex;
  align-items: center;
}

.color-content {
  background-color: #cbd1ff;
}
.shadow-content {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.icon-sosmed-ceo {
  font-size: 30px;
  letter-spacing: 10px;
}

.banner-blog {
  width: 100%;
  height: 100vh;
}

.profile-container-blog {
  top: -30%;
  position: relative;
}

.background-banner {
  width: 100%;
  height: 50%;
  border-radius: 0px 0px 70px 70px;
  background: linear-gradient(#ffff, #777777);
}

.profile-blog {
  width: 50%;
  top: 25%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.tess {
  background-color: aqua;
}

.dekstop-mobile {
  display: none;
}

@media only screen and (max-width: 900px) {
  .tinggi {
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .tinggi {
    height: auto;
  }

  .clearfix {
    width: 100%;
  }

  .background-banner {
    width: 100%;
    height: 30%;
    border-radius: 0px 0px 20px 20px;
  }

  .profile-blog {
    width: 70%;
  }

  .profile-container-blog {
    top: -25%;
  }

  .banner-blog {
    width: 100%;
    height: 100vh;
  }

  .dekstop-carousel {
    display: none;
  }

  .dekstop-mobile {
    display: inline-block;
  }
}

@media only screen and (max-width: 500px) {
  .background-banner {
    width: 100%;
    height: 50%;
    border-radius: 0px 0px 20px 20px;
  }

  .profile-blog {
    width: 70%;
  }

  .profile-container-blog {
    top: -25%;
  }

  .banner-blog {
    width: 100%;
    height: 100%;
  }
}
