* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
  color: #6c757d;
}

.nav-big {
  width: 100%;
}

.nav-inside {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navs {
  width: 75%;
}

.title-baner {
  width: 100%;
  /* background-color: #cbd1ff; */
  display: flex;
  justify-content: center;
}

.title-inside {
  width: 70%;
}

.tinggi {
  height: 100vh;
  display: flex;
  align-items: center;
}

.color-content {
  background-color: #cbd1ff;
}
.shadow-content {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.icon-sosmed-ceo {
  font-size: 30px;
  letter-spacing: 10px;
}

.banner-blog {
  width: 100%;
  height: 100vh;
}

.profile-container-blog {
  top: -30%;
  position: relative;
}

.background-banner {
  width: 100%;
  height: 50%;
  border-radius: 0px 0px 70px 70px;
  background: linear-gradient(#ffff, #777777);
}

.profile-blog {
  width: 50%;
  top: 25%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.tess {
  background-color: aqua;
}

.dekstop-mobile {
  display: none;
}

.item:hover {
  filter: brightness(80%);
  transition: 0.5s ease-in-out;
}

/* .client-w {
  width: 75%;
} */

/* Light */

.shadow-bg-one {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.tz-gallery .lightbox {
  transition: 0.2s ease-in-out;
}

.tz-gallery .lightbox:hover {
  transform: scale(1.05);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.client-center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.client-w {
  width: 75%;
}

.bor-client {
  border-block-end: thick double #32a1ce;
  writing-mode: vertical-lr;
}

.bg-soft-danger {
  background-color: #feebeb !important;
  padding: 1rem !important;
  border-radius: 50% !important;
}

/* .badge {
    padding: none;
    background-color: white;
  } */

.service-background {
  background-color: #eeeeee;
}

.title-konsumen {
  width: 100%;
  display: flex;
  justify-content: center;
}

.title-konsumen-two {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 900px) {
  .tinggi {
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .tinggi {
    height: auto;
  }

  .clearfix {
    width: 100%;
  }

  .background-banner {
    width: 100%;
    height: 30%;
    border-radius: 0px 0px 20px 20px;
  }

  .profile-blog {
    width: 70%;
  }

  .profile-container-blog {
    top: -25%;
  }

  .banner-blog {
    width: 100%;
    height: 100vh;
  }

  .dekstop-carousel {
    display: none;
  }

  .dekstop-mobile {
    display: inline-block;
  }
  .navs {
    width: 100%;
  }

  .title-inside {
    width: 100%;
  }

  .client-w {
    width: 85%;
  }
  .client-mobile {
    display: flex;
    justify-content: space-evenly;
  }
  .bg-soft-danger {
    background-color: #feebeb !important;
    padding: 4px !important;
    border-radius: 50% !important;
  }
}

@media only screen and (max-width: 500px) {
  .background-banner {
    width: 100%;
    height: 50%;
    border-radius: 0px 0px 20px 20px;
  }

  .profile-blog {
    width: 70%;
  }

  .profile-container-blog {
    top: -25%;
  }

  .banner-blog {
    width: 100%;
    height: 100%;
  }
}
