* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
  color: #6c757d;
}

.tinggi {
  height: 100vh;
  display: flex;
  align-items: center;
}

.color-content {
  background-color: #cbd1ff;
}
.shadow-content {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media only screen and (max-width: 900px) {
  .tinggi {
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .tinggi {
    height: auto;
  }

  .clearfix {
    width: 100%;
  }
}
